<h1>Alunos</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Login</th>
      <th>Senha</th>
      <th>Curso</th>
      <th width="25%">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @alunos.each do |aluno| %>
      <tr>
        <td><%= aluno.nome %></td>
        <td><%= aluno.login %></td>
        <td><%= aluno.senha %></td>
        <td><%= aluno.curso.nome %>
        <td><%= link_to 'Visualizar', aluno, :class => "btn btn-primary" %>
        <%= link_to 'Editar', edit_aluno_path(aluno), :class => "btn btn-warning" %>
        <%= link_to 'Excluir', aluno, method: :delete, data: { confirm: 'Tem certeza?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
        <% if @alunos.size == 0 %>
    <tr>
      <td colspan="4">Nenhum registro encontrado</td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Aluno', new_aluno_path, :class => "btn btn-success pull-right"%>
