<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @aluno.nome %>
</p>

<p>
  <strong>Matrícula:</strong>
  <%= @aluno.login %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @aluno.senha %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @aluno.curso.nome %>
</p>

<%= link_to 'Editar', edit_aluno_path(@aluno), :class => "btn btn-warning" %> |
<%= link_to 'Voltar', alunos_path, :class => "btn btn-primary" %>
